.otpContainer{
    display: flex;
    justify-content: center;
}

.otpHeading{
    font-family: Public Sans, sans-serif;
    color: #212b36;
    font-size: 12px;
    line-height: 70px;
    text-align: center;

}

.otpInput{
    height: 50px;
    width: 50px;
    margin: 5px;
    text-align: center;
}